<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenue à Pharmanet{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <!-- Navigation --> 
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="img/a.jpg" width="80" height="60"></a>
    <h2 class="title">Pharmanet</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item active"> 
           <a class="nav-link" href="/login" style="color:white">Connexion</a> 
         </li>
         <li class="nav-item active">
          <a class="nav-link" href="/register" style="color:white">Inscription</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li   data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active" id="slides1">
          <img src="img/b.jpg" height="50px" width="50px">
      </div>
      <div class="carousel-item" id="slides2">
        <img src="img/c.jpg" height="50px" width="50px">
      </div>
      <div class="carousel-item" id="slides3">
        <img src="img/d.jpg" height="50px" width="50px">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#slides" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slides" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
<!--- Welcome Section -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">
    Bienvenue sur notre site !
    </h1>
  </div>
    <hr>
    <div class="col-12">
       <p class="lead">Vous trouverez ici le médicament que vous recherchez</p>
    </div>
    
  </div>
</div>


<!--- Footer -->
<footer>
  <div class="container-fluid  padding">
    <div class="row text-center pading">
      <div class="col-md-4">
        <h3>About</h3>
        <hr class="light">
        <p>Ce site Web est une plateforme de commande et d'achat de médicaments en ligne et fait partie de notre projet pidev en tant qu'étudiants d'ESPRIT</p>
      </div>
      <div class="col-md-4">
        <h3>
          Liens
        </h3>
        <hr class="light">
        <a href="/login" class="nav-link" style="color:white">Connexion</a>
      <a href="/register" class="nav-link" style="color:white">Inscription</a>
      </div>
      <div class="col-md-4">
        <h3>
          Info
        </h3>
        <hr class="light">
        <p>
une plateforme qui presente une collection des pharmacies qui offrent leurs produits en ligne avec livraison</p>
      </div>
      <div class="col-12">
        <hr class="light">
        <h4>&copy; réalisé par Mahrez Mathlouthi, , ,</h4>
      </div>
    </div>
  </div>
</footer>




        {% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        
        {% endblock %}
    </body>
</html>
